<h2><%= @article.title %></h2>

<%= render 'form' %>

<%= link_to "Delete", article_path(@article),
                          :confirm => "Are You Sure?",
                          :method => "delete",
                          :class => "btn btn-success" %>
